body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background: url("../images/white-wood.jpg") no-repeat fixed;
  background-size: cover;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

img {
  box-sizing: border-box;
  border: 2px solid #333;
}

img:hover {
  transition-duration: 1s;
  transform: scale(1.05);
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;

}

h4.amiable {
  background: linear-gradient(
    to right,
    #118833,
    #66ee88
  );
}

h4.amiable:hover {
  background: linear-gradient(
    to right,
    #66ee88,
    #118833
  );
}

.indifferent {
  border: 1px solid #aaaa00;
  box-shadow:  -1px 1px #aaaa00, -2px 2px #aaaa00, -3px 3px #aaaa00, -4px 4px #aaaa00, -5px 5px #aaaa00;
  background-color: #dddd22;
}

h4.indifferent {
  background: linear-gradient(
    to right,
    #770,
    #aa0
  );
}

h4.indifferent:hover {
  background: linear-gradient(
    to right,
    #aa0,
    #770
  );
}

.dubious {
  border: 1px solid #aa2222;
  box-shadow: -1px 1px #aa2222, -2px 2px #aa2222, -3px 3px #aa2222, -4px 4px #aa2222, -5px 5px #aa2222;
  background-color: #dd4444;
}

h4.dubious {
  background: linear-gradient(
    to right,
    #700,
    #a00
  );
}

h4.dubious:hover {
  background: linear-gradient(
    to right,
    #a00,
    #700
  );
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}
